/* São as animações com elas ficando maiores e menores e movimentando. */
@keyframes float1 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(120px, -80px) scale(1.1);
  }
  66% {
    transform: translate(-80px, 120px) scale(0.9);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(-150px, 100px) scale(1.15);
  }
  66% {
    transform: translate(100px, -120px) scale(0.85);
  }
}

@keyframes float3 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(-100px, -120px) scale(0.9);
  }
  66% {
    transform: translate(140px, 80px) scale(1.1);
  }
}

@keyframes float4 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(100px, 130px) scale(1.05);
  }
  66% {
    transform: translate(-120px, -100px) scale(0.95);
  }
}

@keyframes float5 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(150px, -100px) rotate(180deg) scale(1.2);
  }
}

@keyframes float6 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-120px, 110px) rotate(-180deg) scale(0.9);
  }
}
